.panel-items-list {
  width: 72px;
  background: #0e1419;
  color: #fff;
}

.panel-items-list-item {
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 72px;
  text-align: center;
  position: relative;
  cursor: pointer;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
  color: rgba(255, 255, 255, 0.8);
}

.panel-items-list-item:hover {
  color: white;
}

.panel-items-list-item.active {
  background: #353e3b;
  color: white;
}

.panel-items-list-item span {
  padding-top: 0.2rem;
}

@media (max-width: 1000px) {
  .panel-items-list-item {
    height: 82px;
    width: 82px;
  }
}

.panels {
  position: relative;
  -webkit-box-shadow: 5px 0 5px -5px rgba(0, 0, 0, 0.5);
          box-shadow: 5px 0 5px -5px rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.panel-item-close {
  cursor: pointer;
  position: absolute;
  top: 40%;
  right: 30px;
  -webkit-transform: translate(100%, -50%);
          transform: translate(100%, -50%);
  z-index: 2;
}

@media (max-width: 1000px) {
  .panel-item-close {
    z-index: 2222;
  }
}

.c1 {
  margin-left: -6px;
  cursor: pointer;
  border: none;
  background: none;
  overflow: hidden;
  pointer-events: none;
  position: relative;
  color: #fff;
  right: -5px;
}

.c2 {
  margin-left: -6px;
  border: none;
  right: 8px;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  color: #fff;
  top: 50%;
  -webkit-transform: translate(100%, -50%);
          transform: translate(100%, -50%);
}

.panel-item-container {
  width: 0;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1000;
  background-color: #353e3b;
}

.panel-item-container.open {
  width: 270px;
}

@media (max-width: 1000px) {
  .panel-item-container.open {
    height: 273px;
    width: 100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    -webkit-transition: height 0.5s;
    transition: height 0.5s;
  }
}

.canvas-container {
  background-color: #fff;
  margin: auto;
  margin-top: 50px;
  height: 854px !important;
  width: 600px !important;
}

@media (max-width: 600px) {
  .canvas-container {
    height: 654px !important;
    width: 400px !important;
  }
}

@media (max-width: 500px) {
  .canvas-container {
    height: 546.6px !important;
    width: 326px !important;
  }
}

@media (max-width: 660px) {
  .upper-canvas, .lower-canvas {
    height: 654px !important;
    width: 390px !important;
  }
}

@media (max-width: 500px) {
  .upper-canvas, .lower-canvas {
    height: 546.6px !important;
    width: 326px !important;
  }
}
/*# sourceMappingURL=styles.css.map */